css = [[ 
font.option_label_disabled
{ 
    text-color: #FF0000; 
    opacity: 0; 
    font-name: fonts/AgencyFB_small.fnt; 
    text-align: left; 
    width: 200px; 
    left: 30px; 
    hover-background-color: rgba(0.5,0.5,0.5,0.4); 
}
button.reset_chud_option
{ 
    opacity: 0; 
    font-name: fonts/AgencyFB_small.fnt; 
    text-align: left; 
    width: 40px; 
    height: 40px;
    left: 475px;
    border-color: rgba(1, 0, 0, 0.7);
    text-color: rgba(1, 0, 0, 0.7);
    hover-background-color: rgba(0.5,0.5,0.5,0.4); 
}
button.sound_preview_chud
{ 
    opacity: 0; 
    font-name: fonts/AgencyFB_small.fnt; 
    text-align: left; 
    width: 40px; 
    height: 40px;
    left: 545px;
    border-color: rgba(0.54, 0.7, 0.75, 0.7);
    text-color: rgba(0.54, 0.7, 0.75, 0.7);
    hover-background-color: rgba(0.5,0.5,0.5,0.4); 
}
window.colorpicker_window 
{ 
    scaling: true; 
    width: 350px; 
    height: 310px; 
    left: -200px; 
    top: -100px; 
    vertical-align: center; 
    horizontal-align: center; 
    border-width: 0px; 
    background-color: rgba(0.3, 0.3, 0.3, 0.75); 
}
window.colorpicker_window titlebar 
{ 
    height: 32px; 
}
form textinput.colorpicker_r
{ 
    top: 185px; 
    width: 50px; 
    height: 40px; 
    horizontal-align: center; 
    margin-left: 10px;
    left: -140px;
    font-name: fonts/AgencyFB_small.fnt; 
} 
form textinput.colorpicker_g
{ 
    top: 185px; 
    width: 50px; 
    height: 40px; 
    horizontal-align: center; 
    margin-left: 10px;
    left: -50px;
    font-name: fonts/AgencyFB_small.fnt; 
} 
form textinput.colorpicker_b
{ 
    top: 185px; 
    width: 50px; 
    height: 40px; 
    horizontal-align: center; 
    margin-left: 10px;
    left: 40px;
    font-name: fonts/AgencyFB_small.fnt; 
}
form .colorpicker_input 
{ 
    width: 350px; 
    height: 40px; 
    font-name: fonts/AgencyFB_small.fnt; 
    left: 545px; 
}

form .option_input_chud
{ 
    width: 330px; 
    height: 40px; 
    font-name: fonts/AgencyFB_small.fnt; 
    background-color: rgba(0, 0, 0, 0.4); 
    left: 590px; 
} 
  
form textinput.display_input_chud
{ 
    left:  540px; 
    width: 50px; 
    height: 40px;
    font-name: fonts/AgencyFB_small.fnt; 
    background-color: rgba(0, 0, 0, 0.4); 
} 
]] 