font.option_label_disabled
{ 
    text-color: #FF0000; 
    opacity: 0; 
    font-name: fonts/AgencyFB_small.fnt; 
    text-align: left; 
    width: 200px; 
    left: 30px; 
    hover-background-color: rgba(0.5,0.5,0.5,0.4); 
}
button.reset_chud_option
{ 
    opacity: 0; 
    font-name: fonts/AgencyFB_small.fnt; 
    text-align: left; 
    width: 40px; 
    height: 40px;
    left: 475px;
    border-color: rgba(1, 0, 0, 0.7);
    text-color: rgba(1, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.4); 
    hover-background-color: rgba(0.5,0.5,0.5,0.4); 
}
button.chud_reset_all 
{ 
    height: 58px; 
    width: 256px; 
    border-width: 0px;     
  
    vertical-align: bottom; 
    top: 4px; 
    font-name: fonts/AgencyFB_medium.fnt; 
    border-color: rgba(1, 0, 0, 0.7);
    text-color: rgba(1, 0, 0, 0.7);
    text-padding: 16px; 
      
    bottom: 0px; 
    left: 0px; 
} 
button.sound_preview_chud
{ 
    opacity: 0; 
    font-name: fonts/AgencyFB_small.fnt; 
    text-align: left; 
    width: 40px; 
    height: 40px;
    left: 545px;
    border-color: rgba(0.54, 0.7, 0.75, 0.7);
    text-color: rgba(0.54, 0.7, 0.75, 0.7);
    background-color: rgba(0, 0, 0, 0.4); 
    hover-background-color: rgba(0.5,0.5,0.5,0.4); 
}
button.chud_changelog 
{ 
    height: 58px; 
    width: 256px; 
    border-width: 0px; 
      
    vertical-align: bottom; 
    top: 4px; 
    font-name: fonts/AgencyFB_medium.fnt; 
    text-color: #8bb4c1; 
    text-padding: 16px; 
      
    bottom: 0px; 
    left: 260px; 
} 
window.colorpicker_window 
{ 
    scaling: true; 
    width: 350px; 
    height: 310px; 
    left: -200px; 
    top: -100px; 
    vertical-align: center; 
    horizontal-align: center; 
    border-width: 0px; 
    background-color: rgba(0.3, 0.3, 0.3, 0.75); 
}
window.colorpicker_window titlebar 
{ 
    height: 32px; 
}
form textinput.colorpicker_r
{ 
    top: 185px; 
    width: 50px; 
    height: 40px; 
    horizontal-align: center; 
    margin-left: 10px;
    left: -140px;
    font-name: fonts/AgencyFB_small.fnt; 
} 
form textinput.colorpicker_g
{ 
    top: 185px; 
    width: 50px; 
    height: 40px; 
    horizontal-align: center; 
    margin-left: 10px;
    left: -50px;
    font-name: fonts/AgencyFB_small.fnt; 
} 
form textinput.colorpicker_b
{ 
    top: 185px; 
    width: 50px; 
    height: 40px; 
    horizontal-align: center; 
    margin-left: 10px;
    left: 40px;
    font-name: fonts/AgencyFB_small.fnt; 
}
form .colorpicker_input 
{ 
    width: 350px; 
    height: 40px; 
    font-name: fonts/AgencyFB_small.fnt; 
    left: 545px; 
}

form .option_input_chud
{ 
    width: 325px; 
    height: 40px; 
    font-name: fonts/AgencyFB_small.fnt; 
    background-color: rgba(0, 0, 0, 0.4); 
    left: 595px; 
} 
  
form textinput.display_input_chud
{ 
    left:  544px; 
    width: 50px; 
    height: 40px;
    font-name: fonts/AgencyFB_small.fnt; 
    background-color: rgba(0, 0, 0, 0.4); 
} 

button.tab_chudmenu
{     
    height: 64px; 
    width: 115px; 
    border-width: 0px;     
    font-name: fonts/AgencyFB_medium.fnt; 
    text-color: #8bb4c1; 
    background-color: #000000; 
    background-image: none; 
    opacity: 0; 
    hover-background-color: rgba(0,0,0,0); 
    vertical-text-align: center; 
    text-align: center; 
} 

image.tab_background_chudmenu
{     
    height: 64px; 
    width: 115px; 
    border-width: 0px; 
    background-image: path(ui/menu/tabbackground.dds); 
} 

button.apply_color_chud
{ 
    font-name: fonts/AgencyFB_small.fnt; 
    text-color: #8bb4c1; 
    text-padding: 10px; 
    border-width: 0px;     
  
    height: 58px; 
    top: 240px;
    horizontal-align: center; 
    width: 200px; 
    left: -100px; 
} 

font.colorlabel_r_chud 
{ 
    text-color: #CCCCCC; 
    font-name: fonts/AgencyFB_small.fnt; 
    opacity: 0; 
    left: 42px; 
    top: 190px;
} 

font.colorlabel_g_chud 
{ 
    text-color: #CCCCCC; 
    font-name: fonts/AgencyFB_small.fnt; 
    opacity: 0; 
    left: 132px; 
    top: 190px;
} 

font.colorlabel_b_chud 
{ 
    text-color: #CCCCCC; 
    font-name: fonts/AgencyFB_small.fnt; 
    opacity: 0; 
    left: 222px; 
    top: 190px;
} 

font.colorpicker_chud 
{ 
    text-color: #CCCCCC; 
    font-name: fonts/AgencyFB_small.fnt; 
    opacity: 0; 
    top: 1px;
    left: 10px;
}